{$CLINICOS_SITE_ADDRESS::80} {
  encode zstd gzip

  # Proxy all /api requests to backend
  handle /api/* {
    reverse_proxy backend:4000
  }

  # Serve static frontend files with SPA fallback
  handle {
    root * /srv
    try_files {path} /index.html
    file_server
  }
}
